body{
    background-color: rgba(255, 0, 0, 0.838);
    color: white;
    text-align: center;
}
h1{
    font-size: 50px;
}
img{
    height: 10%;
    width: 10%;
}
#text{
    display: -webkit-flex;
    display: flex;
    border-style: solid;
    border-color: white;
    margin: 50px;
}
.button {
  display: inline-block;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: white;
  color: #444;
  text-decoration: none;
  padding: 6px 10px 4px 10px;
  margin: 5px 10px;
}

.button:hover {
  background-color: silver;
  color: #000;
}
